/* CSS Reset  */
* {
    margin: 0px;
    padding: 0px;
}

/* font styling
font-family: 'Anybody', cursive;
font-family: 'Solway', serif; */

/* navbar styling */

body{
    scroll-behavior: smooth;
}
#navbar {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}

.name-logo {
    font-size: 1.5rem;
    font-family: 'Kalam', cursive;
    color: white;
    text-shadow: -1px 3px 4px #a9a9a9;
    padding-left: 5px;
}

.box {
    font-family: 'Solway', serif;
    /* border: 3px solid red; */
     
}

.box ul li a {
    font-size: 1.5rem;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.box ul li a:hover {
    color: #001aff;
}

.box ul li i {
    color: white;
    animation: show;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    position: relative;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.box ul li {
    list-style: none;
}

.box ul {
    display: flex;
}

/* ########################### home section style */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
}

#home::before {
    content: "";
    background: url('../Image/background.jpg')no-repeat fixed center center/cover;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 600px;
    z-index: -1;
    position: absolute;
    opacity: 0.9;
}

.h-primary {
    text-align: center;
    font-size: 9rem;
    font-family: 'Kalam', cursive;
    color: white;
    text-shadow: 0px 7px 4px #626262;
    line-height: 162px;
}

#home p {
    color: black;
    font-family: 'Kalam', cursive;
    font-size: 1rem;
    background-color: #ffffff26;
    border-radius: 8px;
    padding: 4px;
    font-weight: bold;
}

.btn {
    border: none;
    width: 13%;
    height: 10%;
    padding: 6px;
    font-size: 1.5rem;
    color: white;
    background-image: linear-gradient(to right, rgba(38, 29, 29, 0.21), rgba(0, 55, 255, 0.63));
    font-family: Solway, serif;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}
.btn:active{
     transform: scale(0.98);
}
.btn:focus{
     outline: 0;
}

/*######################### Popular-Destination section Styleing */

#Popular-Destination {
    margin: 4rem 0rem;
    height: 611px;
    /* border: 2px solid black; */
}

#Popular-Destination h1 {
    color: rgb(54, 54, 54);
    font-size: 3.2rem;
    font-family: 'Solway', serif;
    text-align: center;
}

.Cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    /* border: 3px solid green; */
    height: 523px;
}

.single-cities {
    width: 350px;
    border-radius: 8px;
    position: relative;
}

.single-cities h2 {
    color: rgb(44, 44, 44);
    font-size: 1.3em;
    font-family: 'Anybody', cursive;
    position: absolute;
    /* border: 2px solid green; */
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(224, 255, 255, 0.384);
    border-radius: 2px;
    padding: 4px;
    transition: all 0.4s ease-in-out;
}

.single-cities:hover h2 {
    opacity: 1;
    left: 50%;
}

.single-cities img {
    display: block;
    width: 100%;
    /* border: 2px solid black; */
    box-shadow: 0px 6px 9px #5c3333;
}


/*################################## Popular-In-India-section Styling */
.place-in-india {
    /* border: 2px solid black; */
    width: 1400px;
    height: 800px;
    margin: auto;
    position: relative;
    margin-top: 4rem;
}

.single-place {
    border: 2px solid rgba(0, 0, 0, 0.42);
    height: 47%;
    position: relative;
    margin-bottom: 2rem;
}

.single-place img {
    display: block;
    width: 47.7%;
    position: absolute;
}

.tajmahal {
    position: absolute;
    left: 50%;
}

.single-place h2 {
    position: absolute;
    left: 65%;
    top: 2%;
}

.single-place p {
    position: absolute;
    left: 52%;
    top: 20%;
    padding: 8px;
    font-weight: 500;
}

.More-places a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #000000d1;
    text-align: center;
    padding: 6px;
    font-size: 2rem;
    width: 15rem;
    margin: 50px auto;
    border-radius: 6px;
}




/* ################### ################### Popular places */

#Popular-place-section {
    margin-top: 15rem;
    /* border: 2px solid red; */

}

.popular-place {
    /* border: 2px solid black; */
    /* width: 1400px; */
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.popular-cities {
    /* border: 3px solid green; */
    height: 44%;
    position: relative;
    box-shadow: 0px 4px 5px #000000
}

.popular-cities img {
    display: block;
    height: 100%;
}

.popular-cities::after {
    content: "";
    /* border: 2px solid green; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    background-color: rgb(0 0 0 / 26%);
    position: absolute;
    display: block;
    transition: opacity 1s ease-in-out;
}

.popular-cities:hover::after {
    opacity: 1;
}

.popular-cities h2 {
    font-family: 'Anybody', cursive;
    position: absolute;
    /* border: 2px solid yellow; */
    bottom: 0;
    opacity: 1;
    font-size: 1.8rem;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.More{
    position: absolute;
    /* border: 2px solid blueviolet; */
    font-family: 'Solway', serif;
    top: 40%;
    left: 20%;
    text-decoration: none;
    opacity: 0;
    color: white;
    font-size: 1.8rem;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}
.popular-cities:hover .More{
     opacity: 1;
     left: 35%;
}


/* #######################  celebrate-with-us-section styling  */
#celebrate-section{
    height: 500px;
    
}
.celebrate-box{
    display: flex;
    justify-content: space-around;
    height: 500px;
    flex-wrap: wrap;

    
}
.celebrate{
    /* border: 2px solid black; */
    height:65%;
    margin-top: 4rem;
    display: inline-block;
    position: relative;
    box-shadow: 0px 1px 6px #222222db;
}
.celebrate h2{
    position: absolute;
    top: 56%;
    left: 27%;
    color: rgb(54, 54, 54);
    font-size: 24px;
    font-family: 'Solway', serif;
}
.celebrate h3{
    position: absolute;
    top: 56%;
    left: 5%;
    color: rgb(54, 54, 54);
    font-size: 24px;
    font-family: 'Solway', serif;
}
.celebrate p{
    position: absolute;
    top: 72%;
    left: 1%;
    color: rgba(73, 73, 73, 0.863);
    font-family: 'Solway', serif;
}
.celebrate img{
    height: 50%;
    display: block;
}



/* ##################### contact-Us-section styling  */

#contact-Us-section {
    margin-top: 2rem;
    /* border: 3px solid black; */
    background-color: #1d363e;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  
}

.contact-us {
    color: white;
    /* border: 2px solid yellow; */
    font-family: 'Solway', serif;
    margin-top: 4rem;
    width: 300px;
    height: 368px;
  
}

/*### ul , li , a Styling  */
.contact-us ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    line-height: 31px;
    
}
.contact-us ul li a:hover {
    color: lightskyblue;
   
}

.contact-us ul {
    list-style: none;
}
.tourism-website ul{
    margin-top: 1.3rem;
}


.contact-us h1 {
    color: white;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: underline;
}

.contact-us p {
    color: white;
    margin: 1rem auto;
}
/* ########### footer -section   ############## */

footer {
    color: white;
    /* border: 3px solid brown; */
    /* text-align: center; */
    font-family: 'Solway', serif;
}

/* Utilites classes */

.para {
    color: rgba(73, 73, 73, 0.863);
    font-size: 1.2rem;
    font-family: 'Solway', serif;
    text-align: center;
    position: relative;
}

.second-heading {
    color: rgb(54, 54, 54);
    font-size: 3.2rem;
    font-family: 'Solway', serif;
    text-align: center;
}